.navbar{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 2%;
    padding: 0 10px;

}

.socials{font-size: 15px;
        margin-top: -3px;
        text-decoration: none;
        color: #642a03;
}

/* .fas, .fab{
    color: #642a03;
} */

.contact-us-icon{
     border-radius: 20px;
     font-size: 13px;  
     padding: 2px 5px;
     border: solid 3px #000000;
}
.contact-us{
     border-radius: 20px; 
     font-size: 13px;  
     padding: 5px 7px;
}

/* For tablets (max width 768px) */
@media (max-width: 768px) {
.navbar{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0 2%;
    padding: 0 0px 0 10px;

}


}