

  <div id="properties" class="container mt-5 bottom-bottom">
    <!-- Header -->
    <div class="text-center mb-4">
      <h1>Home Away From Home </h1>
      <p class="text-muted"><em>Clean - Lifestyle</em></p>
    </div>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs justify-content-center mb-4" id="terrainTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="starting-tab" data-bs-toggle="tab" href="#">Available Apartments</a>
      </li>
      <!-- <li class="nav-item">
      <a class="nav-link" id="brands-tab" data-bs-toggle="tab" href="#brands" class="nav-link" id="gps-tab" data-bs-toggle="Tab_Content">Second</a>
    </li> -->
    </ul>
    <div class="tab-content" id="terrainTabsContent">
      <div class="tab-pane fade show active" id="starting" role="tabpanel">
        <div class="row props">
          @for (card of properties; track card.id) {
          <div (click)="goToDetail(card)" class="col-md-6 card-list col-lg-3 mb-4">
            <div (click)="goToDetail(card)" class="card card-list h-100 shadow-sm">
              <img [src]="card.image[0]" class="card-img-top" alt="{{ card.title }}">
              <div class="card-body text-center">
                <!-- <div><p style="font-size: 7px;" class="fas fa-circle"></p><span> {{card.available == 1? 'Available': "Occupied"}}</span> <span style="float: right;" class="right"> <i class="fas far fa-heart"> </i></span></div> -->
                <h5 class="card-title">{{ card.title }}</h5>
                <p class="card-subtitle text-muted">
  {{ card.description | slice:0:20 }}{{ card.description.length > 20 ? '...' : '' }}
</p>
                <div id="attribs"><span class="attrib"><i class="fas fa-bed"></i> {{card.bed}} bed </span> | <span class="attrib"><i class="fas fa-bath"> </i>{{card.bath}} bath </span> | <span class="attrib"><i class="fas fa-dumbbell"></i> gym</span></div>
                <h3 class="card-price">₦{{ card.prices }}</h3>

              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <!-- Add other tab panes similarly -->

      
    </div>


  </div>
