<div class="home-full">
  <!-- <app-topbanner></app-topbanner> -->



  <div class="topside row">
    <div class="col-12 col-md-6 col-lg-3 left-top">

      <div>
        <button class="btn">
          <i class="fas fa-house"></i> Lagos > Lekki
        </button>
      </div>
      <div class="details">Shortlet Apartments and Villa at Lekki, Lagos Island</div>

      <div class="contact-tags">


        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-light contact-us-icon"><i class="fas fa-phone"></i></button>
          <button type="button" class="btn contact-us btn-dark">Contact Us Now</button>
        </div>

      </div>
      <div class="container position-relative hide-this" style="height: 300px;">
        <div class="contact-card p-3 d-flex flex-row align-items-center gap-3" style="max-width: 300px;">
          <!-- Profile Image -->
          <img src="../assets/images/bedroom1.jfif" class="profile" alt="">

          <!-- Agent Info -->
          <div class="flex-grow-1">
            <h6 class="mb-0 topic-small">Manager</h6>
            <small class="text-muted text-small">Property Consultant</small>
          </div>

          <!-- Contact Button -->
          <button class="btn btn-sm d-flex align-items-center gap-1 feature-contact">
            <i class="fas fa-phone"></i> Contact
          </button>
        </div>
      </div>

    </div>
    <div class="swiper-desktop col-12 col-md-12 col-lg-6 mid-top">
      <swiper-container effect="cards" grab-cursor="true">
        @for (card of top_slides; track card.id) {
        <swiper-slide class="slide-img">
          <img class="slide-img" [src]="card.image" />
        </swiper-slide>
        }


      </swiper-container>
    </div>
    <div class="swiper-mobile col-12 col-md-6 col-lg-6 mid-top">
      <swiper-container effect="slide" grab-cursor="true">
        @for (card of top_slides; track card.id) {
        <swiper-slide class="slide-img">
          <img class="slide-img" [src]="card.image" />
        </swiper-slide>
        }


      </swiper-container>
    </div>
    <div class="col-12 col-md-6 col-lg-3 right-top">
      <div class="tag">
        <button type="button" class="btn minimal-price">
          <i class="fas fa-dollar-sign"></i> Minimal Price
        </button>
      </div>
      <div class="price">₦220,000</div>

      <div class="present-icons text-small d-flex gap-3 align-items-center">
        <span><i class="fas fa-tv"></i> Lounge </span>
        <span><i class="fas fa-bed"></i> Rooms</span>
        <span><i class="fas fa-toilet"></i> Toilet</span>

      </div>
      <span class="text-small hide-this">Minimal of 2 nights bookings</span><br>


      <div class="feature-tags">
        <span class="topic-small">FEATURES</span><br>

        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Pool <i class="fas fa-swimming-pool"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Gym <i class="fas fa-dumbbell"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Pool <i class="fas fa-swimming-pool"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Washing Machine <i class="fas fa-tshirt"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Gaming <i class="fas fa-gamepad"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Air-Conditioning <i class="fas fa-wind"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Balcony <i class="fas fa-door-open"></i>
        </button>
      </div>

      <div class="lifestyle-tags hide-this hide-b">

        <span class="topic-small">LIFESTYLE</span><br>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Pool <i class="fas fa-swimming-pool"></i>
        </button>
      </div>

      <div class="container image-contain position-relative hide-this" style="height: 200px;">
        <div class="d-flex flex-row picture-card align-items-center" style="max-width: 200px;">
          <div class="image-stack-container">
            <div class="image-stack">
              <img src="../propertyrent-app/assets/images/6.png" class="stacked-img">
              <img src="../propertyrent-app/assets/images/6.png" class="stacked-img">
              <img src="../propertyrent-app/assets/images/6.png" class="stacked-img">
              <img src="../propertyrent-app/assets/images/6.png" class="stacked-img">
            </div>
            <div class="nav-buttons">
              <!-- <button class="nav-btn">&#8592;</button> -->
              <a routerLink="/gallery" class="btn light ">Gallery &#8594;</a>
            </div>
          </div>

        </div>
      </div>

      <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



    </div>
  </div>



  <div id="about" class="bottomside row">
    <div class="col-3 left-top">

      <div>
        <span class="topic-small">
          DESCRIPTION
        </span>
      </div>
      <div class="details-bottom"><span class="grey">Managed by</span> <br> KTP Properties</div>



    </div>
    <div class="col-12 col-md-8 col-lg-6 mid-bottom">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
        lorem egestas vitae scel
        <span id="dots">...</span>
        <span id="more" style="display: none;">
          erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae
          massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim
          ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
          venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.
        </span>
      </p>

      <div class="btn-group mr-2" (click)="toggleReadMore()" role="group" aria-label="First group">
        <button type="button" class="btn myBtn contact-us btn-dark" id="myBtn"></button>
        <button type="button" class="btn btn-light contact-us-icon"><i class="fas fas fa-plus"></i></button>
      </div>
      <!-- <button (click)="toggleReadMore()" id="myBtn">Read more</button> -->

    </div>
    <div class="col-12 col-lg-3 right-top right-bottom">

      <div class="container position-relative map-div" style="height: 100px;">
        <div class="card map-card p-3 d-flex flex-row align-items-center gap-3"
          style="max-width: 200px; height: 100px;">
          <!-- Profile Image -->
          <img src="../assets/images/bedroom1.jfif" class="profile" alt="">


          <a href="https://maps.app.goo.gl/yuduyzCDo3x73bxx5" target="_blank" style="text-decoration: none">
            <div class="flex-grow-1 overlay">
              <h6 class="mb-0 topic-small">KTP Apartments</h6>
              <small class="text-light text-small">View on Map</small>
            </div>
          </a>


        </div>
      </div>

      
     



    </div>
  </div>

<app-properties></app-properties>
 

  
  <app-footer></app-footer>