<div class="home-full">
  <!-- <app-topbanner></app-topbanner> -->



  <div class="topside row">
    <div class="col-12 col-md-6 col-lg-3 left-top">

      <div>
        <button class="btn">
          <i class="fas fa-house"></i> Lagos > Lekki
        </button>
      </div>
      <div class="details hide-this details-mobile">Shortlet Apartments at Ikota-Villa Estate, Lekki, Lagos Island</div>

      <a class="hide-this" href="tel:+234 808 167 8368">
        <div class="contact-tags">


        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-light contact-us-icon"><i class="fas fa-phone"></i></button>
          <button type="button" class="btn contact-us btn-dark">Contact Us Now</button>
        </div>

      </div>
      </a>
      <div class="container position-relative hide-this" style="height: 300px;">
        <div class="contact-card p-3 d-flex flex-row align-items-center gap-3" style="max-width: 300px;">
          <!-- Profile Image -->
          <img src="../assets/images/11.png" class="profile" alt="">

          <!-- Agent Info -->
          <div class="flex-grow-1">
            <h6 class="mb-0 topic-small">Manager</h6>
            <small class="text-muted text-small">Property Consultant</small>
          </div>

          <!-- Contact Button --><a href="tel:+234 808 167 8368">
          <button class="btn btn-sm d-flex align-items-center gap-1 feature-contact">
            <i class="fas fa-phone"></i> Contact
          </button></a>
        </div>
      </div>

    </div>
    <div class="swiper-desktop col-12 col-md-12 col-lg-6 mid-top">
      <swiper-container effect="cards" grab-cursor="true" navigation="true">
        @for (card of top_slides; track card.id) {
        <swiper-slide class="slide-img">
          <img class="slide-img" [src]="card.image" />
        </swiper-slide>
        }


      </swiper-container>
    </div>
    <div class="swiper-mobile col-12 col-md-6 col-lg-6 mid-top">
      <swiper-container effect="slide" grab-cursor="true" navigation="true">
        @for (card of top_slides; track card.id) {
        <swiper-slide class="slide-img-mobile">
          <img class="slide-img-mobile" [src]="card.image" />
        </swiper-slide>
        }


      </swiper-container>
    </div>
    <div class="col-12 col-md-6 col-lg-3 right-top">
     
      <div class="feature-tags">
        <span class="topic-small">FEATURES</span><br>

        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          </i> Pool <i class="fas fa-swimming-pool"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Gym <i class="fas fa-dumbbell"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Washing Machine <i class="fas fa-tshirt"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Gaming <i class="fas fa-gamepad"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Air-Conditioning <i class="fas fa-wind"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Balcony <i class="fas fa-door-open"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Lounge <i class="fas fa-chair"></i>
        </button>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Solar Battery <i class="fas fas fa-charging-station"></i>
        </button>
      </div>

      <div class="lifestyle-tags hide-this hide-b">

        <span class="topic-small">LIFESTYLE</span><br>
        <button type="button" class="btn feature btn-outline-secondary">
          <i class="fas fa-check-circle"></i> Pool <i class="fas fa-swimming-pool"></i>
        </button>
      </div>

      <div class="container image-contain position-relative hide-this" style="height: 200px;">
        <div class="d-flex flex-row picture-card align-items-center" style="max-width: 200px;">
          <div class="image-stack-container">
            <div class="image-stack">
              <img src="../assets/images/11.png" class="stacked-img">
              <img src="../assets/images/11.png" class="stacked-img">
              <img src="../assets/images/11.png" class="stacked-img">
              <img src="../assets/images/11.png" class="stacked-img">
            </div>
            <div class="nav-buttons">
              <!-- <button class="nav-btn">&#8592;</button> -->
              <a routerLink="/gallery" class="btn light ">Gallery &#8594;</a>
            </div>
          </div>

        </div>
      </div>

      <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



    </div>
  </div>



  <div id="about" class="bottomside row">
    <div class="col-3 left-top">

      <div>
        <span class="topic-small">
          DESCRIPTION
        </span>
      </div>
      <div class="details-bottom"><span class="grey">Managed by</span> <br> KTP Properties</div>



    </div>
    <div class="col-12 col-md-8 col-lg-6 mid-bottom">
      <p>
        <b>Welcome to KTP Suites,</b> where luxury meets lifestyle. We are a premier Shortlet apartment company dedicated to redefining temporary stays with elegance, comfort, and sophistication. Whether you’re traveling for business, leisure, or a special occasion, our curated spaces offer more than just accommodation, they deliver an experience.
        <span id="dots">...</span>
        <span id="more" style="display: none;"><br><br>
          Each apartment is a masterpiece of design, blending modern aesthetics with timeless charm. From plush furnishings to high-end amenities, 
          we ensure every detail reflects our commitment to excellence. 
          Our property is strategically located in a vibrant neighborhood, offering convenience, security, and a taste of the city’s finest attractions.
        </span>
      
      </p>

      <div class="btn-group mr-2" (click)="toggleReadMore()" role="group" aria-label="First group">
        <button type="button" class="btn myBtn contact-us btn-dark" id="myBtn"></button>
        <button type="button" class="btn btn-light contact-us-icon"><i class="fas fas fa-plus"></i></button>
      </div>
      <!-- <button (click)="toggleReadMore()" id="myBtn">Read more</button> -->

    </div>
    <div class="col-12 col-lg-3 right-top right-bottom">

      <div class="container position-relative map-div" style="height: 100px;">
        <div class="card map-card p-3 d-flex flex-row align-items-center gap-3"
          style="max-width: 200px; height: 100px;">
          <!-- Profile Image -->
          <img src="../assets/images/11.png" class="profile" alt="">


          <a href="https://maps.app.goo.gl/s938xgrYkZmB1uVa8?g_st=ipc" target="_blank" style="text-decoration: none">
            <div class="flex-grow-1 overlay">
              <h6 class="mb-0 topic-small">KTP Apartments</h6>
              <small class="text-light text-small">View on Map</small>
            </div>
          </a>


        </div>
      </div>

      
     



    </div>
  </div>

<app-properties></app-properties>
 

  
  <app-footer></app-footer>