.topside{
    height: 600px !important;
    padding: 2%;
}

.lifestyle-tags{
  display: none;
}

.home-full{
  overflow-x: hidden;
}
.bottomside{
    padding: 10% 2% 2% 2%;
}

.image-contain{
  display: none;
}
.map-image{
  display: none;
  max-width: 200px; 
  height: 100px;

}
.hide-desktop{
display: none;
}


.mid-top{
    border-radius: 15px !important;
}

.slide-img{
    width: 100% !important;
    height: 600px;
    border-radius: 15px !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.right-top{
    padding-left: 5% !important;
}
.left-top{
    padding-right: 1% !important;
    padding-left: 3% !important;
}

.feature-tags{
    margin-top: 20%;
}
.contact-tags{
    margin-top: 10%;
}
.lifestyle-tags{
    margin-top: 20%;
}

.text-small{
    font-size: 12px;
    color: #642a03;
}

.topic-small{
    font-size: 12px;
    color: #9b9a9a;
    font-weight: bold;
}

.feature{
    padding: 2px 5px 2px 1px !important;
    margin: 2px !important;
    border-radius: 10px !important;
    font-size: 12px;
}

.feature-contact{
    padding: 2px 10px 2px 6px !important;
    margin: 2px !important;
    border-radius: 10px !important;
    font-size: 12px;
    outline: #9b9a9a;
    border: solid 1px #d4d4d4;
}
.contact-us-icon{
     border-radius: 20px;
     font-size: 13px;  
     padding: 2px 5px;
     border: solid 3px #000000;
}
.contact-us{
     border-radius: 20px; 
     font-size: 13px;  
     padding: 5px 7px;
}

.details{
    font-size: 40px;
    line-height: 2.5rem;
}
.details-bottom{
    font-size: 30px;
    line-height: 2rem;
}

.light{
    background-color: rgb(241, 241, 241);
    color: #642a03;
    border-radius: 15px;
}

.grey{color: #757373;}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.contact-card{
    border-radius: 15px !important;
    padding: 5px !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0px !important;
    background-color: #f3f2f2;
}
.picture-card{
    padding-left: 0px !important;
    position: absolute;
    bottom: 0px !important;
}

#more {display: none;}



/* ///////////////////////////////////////////////////////////////////// */
.image-stack-container {
  position: relative;
  width: max-content;
  /* padding: 20px; */
}

.image-stack {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
}


.map-card {
  background-image: url('/assets/images/10.png');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  width: 300px;
  height: 180px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.map-card:hover {
  transform: scale(1.03);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay for readability */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 12px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card-price{
  color: #642a03;
  font-size: 18px;
  font-weight: bold;
}

.card-list{
  border-radius: 15px !important;
}

.card-body{
  text-align: left !important;
}

.attrib{
  font-size: 13px;
  color: #000000 !important;
}
#attribs{
  /* font-size: 13px; */
  color: #757373;
}


swiper-container {
  --swiper-navigation-color: #66091d;
  --swiper-navigation-size: 40px;     
}



.swiper-desktop {
  display: block;
  color: #642a03 !important;
}
.swiper-mobile {
  display: none;
}





/* For tablets (max width 768px) */
@media (max-width: 990px) {
  .card-list {
    font-size: 14px;
    padding: 10px;
  }

  .slide-img-mobile{
    border-radius: 0px !important;
    height: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

  
.bottomside{ 
  background-color: #220e01;
}

.mid-bottom{
  color: #ffffff;
}

.hide-b{
  display: none;
}


  
.mid-top{
  position: absolute;
  top: 8%;
}

.left-top{
  z-index: 20;
}


.right-top{
  position: relative;
  z-index: 30;
  margin-top: 20%;
  margin-bottom: 5%;
}


}

@media (max-width: 576px) {
 
.home-full{
  position: relative;
  width: 100% !important;

}

.details-mobile{
  
font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 2%;
}

.details-bottom{
  color: #ffffff;
}

.mid-top{
  position: absolute;
  top: 0%;
}

.right-top{
  position: relative;
  z-index: 30;
  margin-top: 45%;
  margin-bottom: 5%;
}


.feature-tags{
  position: relative;
  margin-top: 10%;
}

.bottom-bottom{
  position: relative;
}

.mid-bottom{
  color: #ffffff;
}

.hide-this{
  display: none;
}
.tag{
  display: none;
}
.price{
  display: none;
}

.bottomside{ 
  margin-top: 0%;
}

.left-top{
  z-index: 20;
}


 .swiper-desktop {
    display: none;
  }
  .swiper-mobile {
    display: block;
  }

  .map-image{
  display: none;
  width: 100%; 
  height: 100px; 

}



}


