.body{

    background-color: rgb(241, 241, 241);
    padding: 0px 0% 2% 0%;
    border-radius: 10px 10px 0px 0px;  
    overflow-x: hidden !important;

}


/* For tablets (max width 768px) */
@media (max-width: 768px) {
.body{

  overflow-x: hidden;
    background-color: rgb(241, 241, 241);
    /* margin-top: 2% !important; */
    padding: 0px 0% 0% 0%;
    border-radius: 5px;
    width: 100% !important;

}


}

/* For mobile (max width 576px) */
@media (max-width: 576px) {
  .body{
    position: absolute;
    width: 100% !important;

    /* background-color: rgb(172, 15, 15); */
    /* margin-top: 2% !important; */
    padding: 0px 0% 0% 0%;
    border-radius: 5px;

}

}
